version: '3.7'

services:
    mongo:
        image: mongo
        restart: unless-stopped
        hostname: mongo
        environment:
            - MONGO_INITDB_ROOT_USERNAME=phonewave
            - MONGO_INITDB_ROOT_PASSWORD=changeme
        volumes:
            - mongo:/data/db
        ports:
            - "27017:27017" # https://www.mongodb.com/docs/manual/reference/default-mongodb-port/
    redis:
        image: redis:7.0-rc
        restart: unless-stopped
        hostname: redis
        volumes:
            - redis:/data
            - ./.docker/redis.conf:/usr/local/etc/redis/redis.conf
        ports:
            - "6379:6379"
    bot:
        build: .
        image: phonewave
        hostname: bot
        restart: unless-stopped
        environment:
            - MONGO_URI=mongodb://phonewave:changeme@localhost:27017/?authMechanism=DEFAULT # http://dochub.mongodb.org/core/connections
            - REDIS_HOST=redis
        depends_on:
            - mongo
            - redis

volumes:
    mongo:
    redis:
