[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
structlog = "*"
py-cord = "*"
mongoengine = "*"
rich = "*"
pillow = "*"
pytest = "*"
redis = "*"
black = "*"
pytest-asyncio = "*"
testcord = "*"

[dev-packages]

[requires]

[scripts]
bot = "python ./main.py"
tests = "pytest"
