aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
black==22.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
commonmark==0.9.1
Deprecated==1.2.13
distlib==0.3.4
dnspython==2.2.1
filelock==3.6.0
frozenlist==1.3.0
idna==3.3
iniconfig==1.1.1
mongoengine==0.24.1
mongomock==4.0.0
multidict==6.0.2
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
Pillow==9.1.0
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
py-cord @ git+https://github.com/Pycord-Development/pycord@96925fe705e264dd1e5c1f58e5af4d5004d7d1f8
Pygments==2.11.2
pymongo==4.1.1
pyparsing==3.0.8
pytest==7.1.1
python-dotenv==0.20.0
python-json-logger==2.0.2
redis==4.2.2
requests==2.27.1
rich==12.2.0
sentinels==1.0.0
six==1.16.0
structlog==21.5.0
toml==0.10.2
tomli==2.0.1
tox==3.25.0
urllib3==1.26.9
virtualenv==20.14.1
wrapt==1.14.0
yarl==1.7.2
